.meni ul li:nth-child(5) a {
    text-decoration: none;
}

.sadrzaj {
    padding: 20px;
    background-color: lightsteelblue;
    border: 2px solid green;
}

table, th, td {
    padding: 10px;
    border-collapse: collapse;
    margin: 0 auto;
    border: 1px solid black;
}